In [1]:
import pandas as pd

In [2]:
file_path = r'C:\Users\VICTUS\Desktop\Python Projects\country_vaccination_stats.xlsx'
data = pd.read_excel(file_path)

In [3]:
data.head() #Looking at the first 5 rows in the dataset.

     country                 date  daily_vaccinations   vaccines
0  Argentina           12/29/2020                 NaN  Sputnik V
1  Argentina           12/30/2020             15656.0  Sputnik V
2  Argentina           12/31/2020             15656.0  Sputnik V
3  Argentina  2021-01-01 00:00:00             11070.0  Sputnik V
4  Argentina  2021-02-01 00:00:00              8776.0  Sputnik V

In [4]:
data.isnull().sum() #Calculating the total number of missing values in the dataset.

country                0
date                   0
daily_vaccinations    60
vaccines               0
dtype: int64

In [5]:
med_vaccinations = data.groupby('country')['daily_vaccinations'].median() #Getting the median values of the daily_vaccinations row grouping by the country.

In [6]:
med_vaccinations #Checking the median values of the countries.

country
Argentina                11704.0
Austria                   7953.0
Bahrain                   3871.0
Belgium                   3634.0
Brazil                   27304.0
Bulgaria                  1013.0
Canada                   11577.5
Chile                     1328.5
China                   299107.5
Costa Rica                 763.0
Croatia                   2497.5
Cyprus                     729.5
Czechia                   5812.0
Denmark                   7139.0
Ecuador                    108.0
England                 115637.0
Estonia                   1051.5
Finland                   2332.0
France                   43961.0
Germany                  52415.5
Gibraltar                  744.0
Greece                    5388.0
Hungary                   5581.0
Iceland                     63.0
India                   182551.5
Indonesia                13200.0
Ireland                   6607.0
Isle of Man                146.5
Israel                   95621.0
Italy                    45417.0
Kuwait                       NaN
Latvia                     597.0
Lithuania                 1944.0
Luxembourg                 114.0
Malta                      419.0
Mexico                    5682.0
Netherlands               6881.0
Northern Ireland          2247.5
Norway                    2982.0
Oman                      1199.0
Panama                    1364.0
Poland                   23659.0
Portugal                  5946.5
Romania                  13214.0
Russia                   25299.0
Saudi Arabia             16843.0
Scotland                  5821.0
Serbia                    3153.0
Seychelles                1059.0
Singapore                 4950.0
Slovakia                  5473.0
Slovenia                  2415.0
Spain                    56505.0
Sweden                    5600.0
Switzerland               3000.0
Turkey                  154397.5
United Arab Emirates     88134.5
United Kingdom          129663.0
United States           399093.0
Wales                     2324.0
Name: daily_vaccinations, dtype: float64

In [7]:
data['daily_vaccinations'] = data.apply(lambda row: med_vaccinations.get(row['country'], 0) if pd.isnull(row['daily_vaccinations']) else row['daily_vaccinations'], axis=1)
#Using pandas apply function for filling the missing values by relevant countries median values of daily_vaccinations.

In [8]:
highest_vacc = med_vaccinations.sort_values(ascending=False) #Sorting median values by using sort_values function and then assigning them to the variable.

In [9]:
highest_vacc

country
United States           399093.0
China                   299107.5
India                   182551.5
Turkey                  154397.5
United Kingdom          129663.0
England                 115637.0
Israel                   95621.0
United Arab Emirates     88134.5
Spain                    56505.0
Germany                  52415.5
Italy                    45417.0
France                   43961.0
Brazil                   27304.0
Russia                   25299.0
Poland                   23659.0
Saudi Arabia             16843.0
Romania                  13214.0
Indonesia                13200.0
Argentina                11704.0
Canada                   11577.5
Austria                   7953.0
Denmark                   7139.0
Netherlands               6881.0
Ireland                   6607.0
Portugal                  5946.5
Scotland                  5821.0
Czechia                   5812.0
Mexico                    5682.0
Sweden                    5600.0
Hungary                   5581.0
Slovakia                  5473.0
Greece                    5388.0
Singapore                 4950.0
Bahrain                   3871.0
Belgium                   3634.0
Serbia                    3153.0
Switzerland               3000.0
Norway                    2982.0
Croatia                   2497.5
Slovenia                  2415.0
Finland                   2332.0
Wales                     2324.0
Northern Ireland          2247.5
Lithuania                 1944.0
Panama                    1364.0
Chile                     1328.5
Oman                      1199.0
Seychelles                1059.0
Estonia                   1051.5
Bulgaria                  1013.0
Costa Rica                 763.0
Gibraltar                  744.0
Cyprus                     729.5
Latvia                     597.0
Malta                      419.0
Isle of Man                146.5
Luxembourg                 114.0
Ecuador                    108.0
Iceland                     63.0
Kuwait                       NaN
Name: daily_vaccinations, dtype: float64

In [10]:
highest_vacc.head() #Printing the first 5 rows of the highest median values of the daily_vaccinations.

country
United States     399093.0
China             299107.5
India             182551.5
Turkey            154397.5
United Kingdom    129663.0
Name: daily_vaccinations, dtype: float64